<main>
  <nav>
    <ul>
      <li>
        <LinkTo @route="route-will-transition" data-test-nav="route-will-transition">
          Route <pre>willTransition</pre>
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="route-will-change-event" data-test-nav="route-will-change-event">
          Router service <pre>routeWillChange</pre>
        </LinkTo>
      </li>
    </ul>
  </nav>

  <div class="application-outlet">{{outlet}}</div>
</main>
<footer>
  <p>This is a set of contrived examples to show the need an API to allow registering "beforeTransition" queue tasks that block transition</p>
  <p>This was inspired by working through legacy code and finding coupling of controller to component state and parent routes in order to allow for transition delay</p>
  <p>
    Note that there is a public event api for "routeWillChange" that is non-blocking.
  </p>
</footer>

<ConfirmModal />