<p>
  This page will ask the user if they want to navigate away.
  It tries to delay transition by using <pre>Route.willTransition</pre>
</p>

<p>
  To test this, click on a different link in the nav to the left.
</p>