<p>
  This is the same as Router service <pre>routeWillChange</pre>. But around the promise, there is a call to <pre>abort</pre> and then <pre>retry</pre>.
</p>

<p>
  This doesn't actually work since it creates an endless loop and
</p>